.weather-element {
  width: 500px;
  height: 100px;
  padding: 20px
  margin: 0 auto;
  box-shadow: 0px 3px 5px #404040;
}

.col-1 {
  display: inline-block;
  width: 40%;
}

.col-1 h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 22px;
}

.col-2 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: right;
}

.temperature {
  font-size: 22px;
}
